#section_title {
    margin-bottom: 70px;
}

.talkbubble {
    height: 120px;
    background: white;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 20px;
    line-height: 120px;
}


    .talkbubble:after {
        content: "";
        position: absolute;
        left: 100%;
        top: 45px;
        width: 0;
        height: 0;
        border-top: 13px solid transparent;
        border-left: 26px solid white;
        border-bottom: 13px solid transparent;
    }

    .talkbubble p {
        font-size: 24px;
    }

.talkbubble_mobile {
    height: 120px;
    background: white;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    line-height: 120px;
    text-align:center;
}
    .talkbubble_mobile p {
        font-size: 18px;
    }

.talkbubble_mobile_arrow {
    width: 0px;
    height: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 40px solid white;
}



#button_send_mail {
    background-color: #343a40;
    border-color: #343a40;
}

#social_links_text {
    margin: 30px;
    margin-top: 70px;
    font-family: 'Roboto Condensed', sans-serif;
}

.social_buttons-links ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

    .social_buttons-links ul li {
        list-style: none;
        margin: 0 15px;
    }

        .social_buttons-links ul li .fa {
            font-size: 30px;
            line-height: 60px;
            transition: 0.6s;
            color: #000;
        }

            .social_buttons-links ul li .fa:hover {
                background-color: transparent;
                color:white;
            }

        .social_buttons-links ul li a {
            position: relative;
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #fff;
            text-align: center;
            transition: 0.6s;
            box-shadow: 0 5px 4px rgba(0,0,0, .5);
        }

            .social_buttons-links ul li a:hover {
                transform: translate(0, -10px);
                background-color: transparent;
            }

        .social_buttons-links ul li:nth-child(1) a:hover {
            background-color: #1877f2;
        }

        .social_buttons-links ul li:nth-child(2) a:hover {
            background-color: #0a66c2;
        }

        .social_buttons-links ul li:nth-child(3) a:hover {
            background-color: #24292e;
        }
