#about {
    width: 100vw;
    max-width: 100%;
    padding:0;
    margin-left: 0;
    margin-right: 0;
}

#list {
    width: 100vw;
    max-width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

#contact {
    width: 100vw;
    max-width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    height:500px;
}