<link rel="stylesheet" href="~/css/about.css" />
@{
    ViewData["Title"] = "O mnie";
}


<div id="about_text_row" class="row align-items-center">
    <div id="about_text_col" class="col box-shadow">
        <p id="about_text">
            Jestem początkującym programistą samoukiem z dużym zapałem do poszerzania swojej wiedzy oraz umiejętności w każdej dziedzinie informatyki,
            zwłaszcza związanej z tworzeniem oprogramowania.
        </p>
    </div>
    <div class="col" id="about_image_col">
        <img src="~/Content/About/Images/ja.jpg" style="height:500px;"/>
    </div>
</div>

