@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject Wangkanai.Detection.Services.IDetectionService DetectionService

<link rel="stylesheet" href="~/css/index.css?v=2" />
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (DetectionService.Device.Type != Wangkanai.Detection.Models.Device.Desktop)
{
    <div id="about_mobile">
        <div class="container w-100">
            @{Html.RenderPartial("About");}
        </div>
    </div>

    <div id="list_mobile">
        <div class="container w-100">
            @await Component.InvokeAsync("Projects")
        </div>
    </div>

    <div id="contact_mobile">
        <div class="container w-100">
            @{Html.RenderPartial("Contact");}
        </div>
    </div>
}
else
{
    <div id="about">
        <div class="container w-100">
            @{Html.RenderPartial("About");}
        </div>
    </div>

    <div id="list">
        <div class="container w-100">
            @await Component.InvokeAsync("Projects")
        </div>
    </div>

    <div id="contact">
        <div class="container w-100">
            @{Html.RenderPartial("Contact");}
        </div>
    </div>
}
@{
    string message = TempData["ConfirmMsg"] as string;
    if (!String.IsNullOrEmpty(message))
    {
        <div class="modal fade" id="email_sended_succes" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">@Localizer["message_sent"]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @Localizer["confirm_message"]
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        @section Scripts {
            <script>
                $('#email_sended_succes').modal('show')
            </script>
        }
        TempData.Remove("ConfirmMsg");
    }
}
